{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
    <link rel="stylesheet" href="{% static "Challenges/includes/header.css" %}">
{% endblock css_files %}

{% block page_title %}
    {{ month_name|title }} Challenge 
{%endblock page_title %}

{% block content %}
    {% include "Challenges/includes/header.html" %}
    <h1>{{ month_name|title }} Challenge</h1>
    {% if text %}
        <h2>{{ text }}</h2>
    {% else %}
        <p class="fallback">There is no challenge for {{ month_name }} yet!</p>
    {% endif %} 
{% endblock content %}
