{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/index.css" %}">
    <link rel="stylesheet" href="{% static "Challenges/includes/header.css" %}">
{% endblock css_files %}

    {% block page_title %}
        All Challenges
    {% endblock page_title%}

    {% block content %}
        {% include "Challenges/includes/header.html" %}
        <ul>
            {% for month in months %}
                <li><a href="{% url "month-challenge" month %}">{{ month|title }}</a></li>
            {% endfor %}
        </ul>
    {% endblock content %}
